.video_container {
  position: relative;
  margin: 60px auto 0;
  video {
    display: block;
    margin: 0 auto;
    width: 920px;
  }
}
.video_title {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7.1rem;
  h2 {
    margin: 0;
    color: #1d1d1d;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 400;
    max-width: 380px;
    line-height: 130%;
    font-style: normal;
  }
}
.video_title_comments {
  div {
    width: 350px;
    height: 4px;
    background-color: #d7b56d;
  }
  p {
    max-width: 635px;
    margin: 0;
    padding: 22px 0 0 0;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
}

.video_footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 150px;
  background-color: #1d1d1d;
}

/* ====== MEDIA ====== */
@media (max-width: 1200px) {
  .video_container {
    video {
      width: 700px;
    }
  }
  .video_title {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7.1rem;
    h2 {
      margin: 0;
      font-family: "Inter", sans-serif;
      font-size: 36px;
      font-weight: 300;
      max-width: 380px;
    }
  }
  .video_title_comments {
    div {
      width: 350px;
      height: 4px;
      background-color: #d7b56d;
    }
    p {
      max-width: 635px;
      margin: 0;
      padding: 22px 0 0 0;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

@media (max-width: 768px) {
  .video_container {
    margin: 30px auto 0;
    video {
      display: block;
      margin: 0 auto;
      width: 350px;
    }
  }
  .video_title {
    display: block;
    width: 350px;
    margin: 0 auto 30px;
    h2 {
      font-size: 20px;
      font-weight: 300;
      width: 100%;
      margin-bottom: 22px;
    }
  }
  .video_title_comments {
    div {
      width: 300px;
      height: 4px;
      background-color: #d7b56d;
    }
    p {
      width: 100%;
      padding: 22px 0 0 0;
      font-size: 14px;
    }
  }
}
