.stat_container {
  display: flex;
  flex-direction: column;
  margin: 4.3rem auto 5.7rem;
  h2 {
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 2.6rem;
    font-weight: 300;
    margin: 0 0 30px 0;
    text-align: center;
  }
}
.stat_units {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2.5rem;
}
.stat_unit {
  display: flex;
  flex-direction: column;
  border-top: 6px solid #d7b56d;
  border-radius: 1px;
  width: 255px;

  h4 {
    font-family: "Inter", sans-serif;
    font-size: 4.6rem;
    font-weight: 600;
    margin: 0;
    padding: 6px 0 15px;
    text-align: center;
  }
  p {
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    margin: 0;
    text-align: center;
  }
  span {
    font-size: 2rem;
  }
}
/* =========== MEDIA =========== */
@media (max-width: 1300px) {
  .stat_unit {
    width: 200px;
  }
}
@media (max-width: 1000px) {
  .stat_units {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .stat_units {
    flex-wrap: wrap;
  }
  .stat_unit {
    width: 160px;
  }
}
