.principles_container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  gap: 75px;
  padding: 55px 0 70px 0;
  h2 {
    font-family: "Inter", sans-serif;
    font-size: 2.6rem;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 0;
  }
}
.principles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 9rem;
}
.principles_articles {
  display: flex;
  flex-direction: column;
}
.principles_unit {
  width: 300px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  small {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: white;
    opacity: 0.5;
  }
  p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin: 12px 0;
  }
}

/* =========== MEDIA =========== */
@media (max-width: 768px) {
  .principles_container {
    gap: 13px;
    padding: 32px 0 70px;
  }
  .principles {
    gap: 27px;
    img {
      width: 340px;
    }
  }
  .principles_unit {
    small {
      font-size: 14px;
    }
    p {
      font-size: 14px;
    }
  }
}
