.scheme_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 60px auto;
  h2 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    color: black;
    margin: 0 auto 40px;
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 970px;
  counter-reset: my-counter;
  list-style: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.listItem {
  counter-increment: my-counter;
  position: relative;
  width: 220px;
  display: flex;
  p {
    position: relative;
    margin: 0;
    padding-top: 60px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
  }
}
.listItem::before {
  content: "0" counter(my-counter);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #d7b56d;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.listItem p::before {
  position: absolute;
  left: 65px;
  top: 25px;
  content: "";
  display: block;
  width: 130px;
  height: 4px;
  background-color: #d7b56d;
}

/* ===== MEDIA ===== */
@media (max-width: 1000px) {
  .list {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .list {
    gap: 20px;
  }
  .listItem {
    width: 190px;
  }
}
@media (max-width: 400px) {
  .list {
    gap: 10px;
  }
  .listItem {
    width: 150px;
  }
  .listItem p::before {
    left: 55px;
    width: 90px;
  }
}
