.burgerMenu {
}
.burgerIcon {
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
  cursor: pointer;
  z-index: 2;
}
.line {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease-in;
}
.burgerIcon.open .line:nth-child(1) {
  width: 100%;
}
.burgerIcon.open .line:nth-child(2) {
  width: 80%;
}
.burgerIcon.open .line:nth-child(3) {
  width: 60%;
}
/*  */
.logo {
  display: flex;
  text-decoration: none;
  height: 6.5rem;
  border-bottom: 1px solid #d7b56d;
}
.logo_img {
  margin: auto 0;
  height: 3.6rem;
}
.logo_txt {
  margin: auto 0.7px;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    margin: 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: #d7b56d;
  }
  h2 {
    margin: 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #d7b56d;
  }
}
/*  */
.nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 30px;
  flex-direction: column;

  top: -360px;
  left: 0;
  background-color: #1d1d1d;
  height: 300px;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}
.nav.open {
  top: 0;
}
.nav a {
  color: white;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
.phones_tel {
  display: flex;
  gap: 10px;
  img {
    width: 20px;
  }
  p {
    margin: 0;
    color: #d7b56d;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
}
/* Стили для overlay */
.overlay {
  position: fixed;
  top: 6.5rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
