.MainSlider_container {
  padding-top: 6.5rem;
  overflow-x: hidden;
}
.MainSlider_container .slide {
  position: relative;
  img {
    width: 100%;
    z-index: 1;
  }
}
.MainSlider_container .slide_card {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainSlider_container .slide_card_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.3rem;
  h1 {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 4.6rem;
    font-weight: bold;
    color: white;
  }
  button {
    width: 18.2rem;
    height: 3.6rem;
    background-color: white;
    border-radius: 2px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
    box-shadow: 5px 5px 0 #d7b56d;
  }
  button:hover {
    background-color: #e9e8e7;
  }
  button:active {
    background-color: #f7f3c0;
  }
}
/* =========== MEDIA =========== */
@media (max-width: 1200px) {
  .MainSlider_container .slide_card_container {
    h1 {
      font-size: 3.5rem;
    }
    button {
      width: 15rem;
      height: 3rem;
      font-size: 0.8rem;
    }
  }
}
@media (max-width: 768px) {
  .MainSlider_container .slide {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }
  .MainSlider_container .slide_card_container {
    h1 {
      font-size: 2.8rem;
    }
    button {
      width: 18rem;
      height: 3.5rem;
      font-size: 1.2rem;
    }
  }
}
