.catalog {
  padding-top: 6.5rem;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 15% auto;
}
.catalog_items {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog_item-card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: auto;
  border-radius: 2px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 5px 5px 0px #d7b56d;
  padding: 20px;
  color: #1d1d1d;

  img {
    width: 100%;
    height: 200px;
    background-size: cover;
    border-radius: 5px;
  }
  h3 {
    text-align: center;
    margin: 5px;
    font-size: 26px;
  }
  p {
    margin: 5px;
    font-size: 16px;
  }
  button {
    padding: 15px;
    width: 100%;
    background-color: #d7b56d;
    font-size: 16px;
    border: none;
  }
}

.catalog_filters {
  display: flex;
  flex-direction: column;
}
